.places {
    margin-top: 50px;
    margin-bottom: 70px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places h1 {
    font-size: 30px;
    margin: 0;
    margin-left: 20px;
    width: 100%;
}

.places article {
    width: 390px;
    margin: 20px;
    padding: 20px;
    border: solid 1px #ff5a5f;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.places h2 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}

.price_by_night {
    color: #ff5a5f;
    font-size: 30px;
    border: solid 4px #ff5a5f;
    border-radius: 200px;
    min-width: 60px;
    height: 60px;
    position: absolute;
    right: 20px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    height: 80px;
    border-top: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    position: relative;
}

.description p {
    margin-top: 5px;
    margin-bottom: 0;
}

.div_place_icons {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_img {
    width: 50px;
    height: 50px;
}

.information .max_guest .div_img {
    background: url("../images/icon_group.png") no-repeat;
}

.information .number_rooms .div_img {
    background: url("../images/icon_bed.png") no-repeat;
}

.information .number_bathrooms .div_img {
    background: url("../images/icon_bath.png") no-repeat;
}

.places .amenities {
    margin-top: 40px;
    width: 100%;
    padding: 0;
}

.places .amenities h2 {
    font-size: 16px;
    border-bottom: solid 1px #dddddd;
    padding: 5px;
    text-align: left;
}

.places ul {
    padding: 0;
    list-style: none;
}

.places .amenities li {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.div_icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    display: inline-block;
}

.icon_tv {
    background: url("../images/icon_tv.png") no-repeat;
    background-size: contain;
}

.icon_wifi {
    background: url("../images/icon_wifi.png") no-repeat;
    background-size: contain;
}

.icon_pets {
    background: url("../images/icon_pets.png") no-repeat;
    background-size: contain;
}

.reviews {
    margin-top: 40px;
}

.reviews h2 {
    font-size: 16px;
    border-bottom: solid 1px #dddddd;
    padding: 5px;
    text-align: left;
}


.reviews ul p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 12px;
}

.reviews ul h3 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 14px;
}

@media screen and (max-width: 1020px) {
    .places article {
        width: 70%;
        max-width: 95%;
    }
}

@media screen and (max-width: 600px) {
    .places article {
        width: 95%;
        max-width: 95%;
    }
}

@media screen and (max-width: 385px) {
    .places article {
        width: 100%;
        max-width: 100%;
        padding: 0;
        padding-left: 5px;
    }

    .places {
        width: 95%;
        max-width: 95%;
    }

    .places h1{
        margin: 0;
    }

    .places article h2 {
        text-align: left;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .price_by_night {
        height: 50px;
        min-width: 50px;
        font-size: 20pt;
        top: 2px;
        right: 2px;
    }
}
